.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    position: relative;
}

.product img {
    height: 286px;
    width: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-info {
    margin-left: 15px;
}

.product-info p {
    margin-bottom: 0px;
    margin-top: 7px;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;

}

.product-btn {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #1C2B35;
    border: 0px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.product-btn p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.0125em;
    color: white;
    margin-right: 5px;
}

.product-btn:hover {
    background-color: orange;
}