.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.products-container {
    margin-left: 60px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.cart-container {
    background-color: rgba(28, 43, 53, 1);
    margin-top: 40px;
    color: white;
    border-radius: 5px;
}